.x {}
.app{
  background:#d5d5d5;
  position:relative;
  float:right;
} 
.historyList{
  background:#eee;
  position:relative;
  overflow:hidden;
  
}
  
.historyList .item {
  background:#999;
  position:absolute;
  border:1px solid #666;
}
.historyList .item:hover{
  background:#aaa;
}
.historyList .item.selected{
  background:#d5d5d5;
}

.main{
  background:#d5d5d5;
  position: absolute;
  text-align:center;
  line-height:4em;
}